@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins',sans-serif;

    /* content-visibility: auto; */
}

body {
    background: #1d1d1d;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    max-height: 100vh;
}

body>h1 {
    text-align: center;
    margin: 15px 0;

    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    letter-spacing: 3px;

    transition: 0.3s;
}

body>h1:hover {
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    min-width: 500px;
    max-height: 400px;

    background: #363636;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    padding: 30px 20px;
    margin: 10px 0;
}

input[type="text"],[type="password"] {
    padding: 18px 13px;
    margin: 4px 10px;

    min-width: 400px;

    font-weight: 400;
    letter-spacing: 3px;

    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

input::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #f1f1f1;
}

.submit-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

input[type="submit"] {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

    font-size: 20px;
    font-weight: 650;
    letter-spacing: 3px;

    color: black;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    

    transition: 0.3s;
}

input[type="submit"]:hover {
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
}

input[type="submit"]:active {
    transform: translateY(5px);
}

body>h2 {
    margin: 20px 0;
    color: #ddd;
    letter-spacing: 3px;
}

body>h2>a {
    color: wheat;
}

body>h2>a:hover {
    text-decoration: none;
}

h3 {
    color: rgba(255,255,255,0.6);
}

h3>a {
    color: wheat;
    text-decoration: none;
}